<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title> My Bills </ion-title>
    <ion-buttons end> <button (click)="newBill()"> <ion-icon name="add"></ion-icon> </button> </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>



  <ion-card>
    <ion-card-header> Pending Bills </ion-card-header>
    <ion-list>
      <ion-item text-wrap *ngFor="let bill of billList | async" (click)="promptPayment(bill.$key)" [class.hide]="bill.paid == true">
        <ion-icon name="timer" danger item-left></ion-icon>
        <h2>{{bill.name}}</h2>
        <h3>Total: <strong>${{bill.amount}}</strong></h3>
        <p>Pay before: <strong>{{bill.dueDate | amDateFormat: 'LL'}}</strong></p>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header> Paid Bills </ion-card-header>
    <ion-list>
      <ion-item text-wrap *ngFor="let bill of billList | async" [class.hide]="bill.paid == false">
        <ion-icon name="checkmark-circle" favorite item-left></ion-icon>
        <h2>{{bill.name}}</h2>
        <h3>Total: <strong>${{bill.amount}}</strong></h3>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>